---
layout: default
javascript:
  - /javascripts/json_search.0.9.0.js
  - /javascripts/home.js
---

<div id="search_results_area">
  <h2>Podcast Show Notes Search <span id="result_count"></span></h2>
  <ul id="search_results" class="posts">
  </ul>
</div>

<div id="home">
	<h2>Want to know whats going on in SA this month?</h2>
	Each month we search high and low to find out where and when all the South African developer events are happening that you need to know about. Stay in the know and <a href="http://eepurl.com/osEGD">subscribe here</a>.

	<h2>Podcast Show Notes</h2>

  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> <span id="post_lastupdated"> &raquo published {{ post.published | date: "%d %B %Y." }}</span>
    </li>
    {% endfor %}
  </ul>

  <br>

  <h2>Tweets</h2>
  <div id="tweets">
    Loading...
  </div>
  <br>

  <script type="text/javascript" charset="utf-8">
    var posts = [
      {% for post in site.posts %}
        {
          title:   unescape('{{ post.title   | strip_html | cgi_escape }}').gsub(/\+/, ' '),
          summary: unescape('{{ post.summary | strip_html | cgi_escape }}').gsub(/\+/, ' '),
          content: unescape('{{ post.content | strip_html | cgi_escape }}').gsub(/\+/, ' '),
          url:     unescape('{{ post.url     | strip_html | cgi_escape }}').gsub(/\+/, ' '),
        },
      {% endfor %}
    0];

    posts.pop();
  </script>

  <script type="text/javascript" src="/javascripts/twitter-1.11.2.js"></script>
  
  <script type="text/javascript">
    getTwitters('tweets', { 
      id: 'd2dpodcast',
      count: 5, 
      enableLinks: true, 
      clearContents: true,
      template: '%text%'
    });
  </script>
</div>
